.footer {
    background-color: #282c34;
    color: white;
    padding: 0.5rem; 
    text-align: center;
    font-size: 0.85rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    box-sizing: border-box; 
    min-height: 80px; 
  }
  
  .footer h2 {
    color: white;
    margin-bottom: 0.5rem;
  }
  
  .footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .footer a {
    color: #61dafb;
    font-weight: bold;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
